<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>lovetheworkmoreMORE!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='about_styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="{{ url_for('static', filename='LTWMM-LOGO.ico') }}" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="header">
    <div class="logo-container">
      <a href="">
      <img class="logo_LTWMM" src="{{ url_for('static', filename='assets/LTWMM-LOGO_980.png') }}" alt="Logo" height="200px" width="200px">
      </a>
    </div>
  </div>
  <div class="main_text">
    <h1>open sourced inspiration</h1>
    <p>I was genuinely inspired by what <a href="https://lovetheworkmore.com">Quynh and Toan achieved with lovetheworkmore</a>. I truly was.
      Inspired enough to take their concept further. Because for us —the "young, broke, and passionate" creatives-, the
      challenge isn't just a limited budget for LoveTheWork subscriptions, <span class="highlight">but also the lack of resources
      to gamble with our work.</span>

      <br><br> And that's precisely where <a href="https://www.lovetheworkmoremore.com">LoveTheWorkMoreMore</a> steps in. By typing an -ironic- extra More, you are now
      able to find winner, shortlisted and unawarded campaigns dating back to 2017. With filters for you to study each Lion, Section and Category,
      this simple tool will help you learn from creatives' past triumphs and missteps
      <i>—since failure is a stern teacher, after all!</i>

      <br><br> By the way, I wont paint LoveTheWork as an elitist adversary. In my conversations with them,
      I've encountered nothing but passion and kindness. If you're in a position to do so, by all means, subscribe to LoveTheWork.
      They offer a lot more than just case studies.

      <br><br> But if you are like me, and the subscription isn't within reach, consider joining our open-source community of ad nerds
      and broke creatives.
      <br><br><span class="highlight">Let's build a new community, driving inspiration and feeling inspired along the way.</p></span>
      <div class="navbar">
        <h3><a href="https://www.lovetheworkmoremore.com">FIND THE INSPIRATION</a></h3>
        <h3><a href="https://discord.gg/6cBYrAQknH">JOIN OUR DISCORD</a></h3>
      </div>
  </div>

</body>
</html>